@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz@1,6..96&family=Montserrat:wght@200;400&display=swap');

// Custom styling and responsiveness
h1, h2 {
  font-family: 'Bondoni Moda', serif;
  font-style: italic;
  font-weight: 200;
}

h1 { font-size: 55px; }
h2 {  font-size: 40px; }
p  { 
  font-size: 20px;
  margin: 0;
}

.btn-base {
  font-size: 18px;
  font-weight: 200;
  border-radius: 0;
  padding: 13px 20px;
  background-color: #707073;
}

.arrow-right-white {
  filter: brightness(0) invert(1);
}

// Styling by sections
html, body {
  overflow-x: hidden;
}

#root {
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  padding: 25px;
  
  background-color: transparent;
  transition-property: background-color;
  transition-duration: 0.4s;
  transition-timing-function: ease;
  
  .navbar-brand { 
    height: 50px;
    transition-property: height;
    transition-duration: 0.25s;
  }

  .navbar-collapse {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    height: calc(100vh - 60px) !important;
    width: 90vw;
    z-index: 50;
    background-color: rgba($color: white, $alpha: 1.0);
    padding: 70px 40px;
    overflow-y: scroll;

    .menu {
      display: block;
      position: absolute;
      top: 25px;
      left: 40px;
      font-size: 17px;
      font-weight: 300;
    }

    .btn-close-container {
      position: absolute;
      top: 25px;
      right: 25px;

      .btn-close {
        font-size: 20px;
        opacity: 0.8;
      }
    }

    .nav-link { 
      font-size: 18px;
      font-weight: 300;
      color: black;
      z-index: 50;
      padding: 0;
      padding-bottom: 15px;
    }

    hr { margin: 0; margin-bottom: 15px;}
  }

  .navbar-collapse.collapsing {
      right: -90vw;
      transition: right 0.4s ease;
  }

  .navbar-collapse.show {
      right: 0px;
      transition: right 0.4s ease;
  }

  .navbar-toggler {
    padding: 0;
    border: 0;

    .navbar-toggler-icon { 
      filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(258deg) brightness(104%) contrast(101%);
    }
  }
  .navbar-toggler:focus { box-shadow: none; }

  .container-fluid { padding: 0; }
}

.menu-white-background {
  background-color: rgba($color: white, $alpha: 0.9);
  .navbar-brand { filter: invert(70%); }
}

.white-background {
  background-color: rgba($color: white, $alpha: 0.9);
  .navbar-brand { 
    height: 40px;
    filter: invert(70%);
  }
  .navbar-toggler .navbar-toggler-icon { filter: invert(0%); }
}

#hero {
  position: relative;
  height: calc(100vh - 60px);
  color: white;
  background-color: rgba($color: black, $alpha: 0.8);

    #hero-bg-slider {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      overflow: hidden;

      .bg-slide {
        position: absolute;
        height: 100%;
        width: 100%;
        object-fit: cover;
        
        opacity: 0;
        transition-property: opacity, transform;
        transition-duration: 1.5s, 7s;
        transition-timing-function: ease;
      }

      .bg-slide.active {
        opacity: 1;
        transform: scale(1.1);        
      }
    }

    #hero-title-slider {
      z-index: 1;

      .title-slide {
        position: absolute;
        opacity: 0;
        transition-property: opacity;
        transition-duration: 1.75s;
        transition-timing-function: ease;
      }

      .title-slide.active {
        opacity: 1;
      }
    }

    #hero-brands {
      position: absolute;
      bottom: 0;
  
      display: flex;
      justify-content: space-around;
  
      width: 100%;
      padding: 25px;
    }
  
}

#hero::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba($color: black, $alpha: 0.5);
}

#hero-bottom {
    color: white;

    padding: 25px 40px;    
    margin-bottom: 50px;

    background: linear-gradient(180deg, #292929 0%, #020202 100%);
    background-size: cover;
  }

#concept {
  #concept-content {
    padding: 70px 25px;

    span {
      font-size: 18px;
      text-transform: uppercase;
    }
  
    p { 
      font-size: 19px;  // should be 20px but Montserrat != Gotham
      margin-bottom: 35px;
    }
  }  
}

#concept::after {
  content: "";
  display: block;
  height: 500px;
  width: 100vw;
  margin-bottom: 50px;
  background-image: url('../public/bg_generic_1.jpeg');
  background-position-x: 50%;
  background-position-y: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

#procedure {

  #procedure-text {
    padding: 0 25px;
    padding-bottom: 25px;

    span {
      font-size: 18px;
      text-transform: uppercase;
    }
  }

  #procedure-flexy {

    .flexy-item {
      position: relative;
      overflow: hidden;      
      box-sizing: border-box;
      box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.25);

      .flexy-item-bg {
        height: 400px;
        width: 100%;
        object-fit: cover;

        transform: scale(1);
        transition-property: transform;
        transition-duration: 0.4s;
      }

      .flexy-item-title {
        position: absolute;
        bottom: 0;
        width: 100%;
        text-align: center;
        margin-bottom: 25px;
        color: white;

        opacity: 1;
        transform: translateY(0);
        transition-property: transform, opacity;
        transition-duration: 0.4s, 0.4s;
      }

      .flexy-item-options {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;

        display: none;
        justify-content: center;
        align-items: center;
        text-align: center;

        background: rgba($color: black, $alpha: 0.5);

        li {
          color: white;
          font-size: 24px;
          padding: 5px 0;
        }
      }
    }

    .flexy-item.transition {
      .flexy-item-bg {
        transform: scale(1.1);
      }
      .flexy-item-title {
        opacity: 0;
        transform: translateY(80px);
      }
    }

    .flexy-item * { pointer-events: none; }
  }
}

#doctor {
  padding-top: 100px;
  padding-left: 25px;
  padding-right: 25px;
  margin-bottom: 50px;
  color: white;
  background: linear-gradient(180deg, #292929 0%, black 100%);

  #doctor-img-logo {
    padding: 25px;
    padding-top: 0;
    margin-bottom: 30px;
  }

  #doctor-img-doctor {
    padding-bottom: 30px;
  }

  p { padding-bottom: 35px; }

  #p-smaller { 
    font-size: 17px;
    line-height: 32px;
  }

  #doctor-brands {
    padding-bottom: 25px;
    margin-top: 50px;

    span { font-size: 12px; }
  }
}

#testimonials {
  padding: 0 25px;
  margin-bottom: 50px;
  text-align: center;

  .carousel {
    p { font-size: 24px; }
    .carousel-control-prev,
    .carousel-control-next {
      position: relative;
    }
  }

  .row {
    display: flex;
    justify-content: center;
    margin-top: 50px;

    .col {
      display: flex;
      flex-direction: column;      
      padding: 12px 48px;

      img {
        align-self: center;
        margin: 15px;
      }

      .img1 {
        max-height: 22px;
        margin-bottom: 10px;
      }

      .img2 {
        max-height: 20px;
      }
    }
  }

  #testimonials-logos {
    margin-top: 50px;

    .testimonials-logos-item {
      padding: 12px 48px;
      width: fit-content;

      img { 
        margin: 15px;
        max-height: 20px;
      }
    }
  }  
}

#video {
  position: relative;
  height: auto;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  overflow: hidden;
  margin-bottom: 50px;

  #video-content {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
    padding: 25px;
    color: white;

    p { font-size: 28px; }
    * { align-self: center; }
  }
}

.modal {
  .modal-dialog,
  .modal-content { position: static; }

  .modal-content{    
    width: 100vw;
    height: calc(100vh - 60px);
    background-color: transparent;
    pointer-events: none;
    border: none;

    .btn-close {
      position: absolute;
      font-size: 12px;
      top: 25px;
      right: 25px;
      opacity: 1;
    }
  }  
}

#video::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;  
  z-index: -1;
  background: linear-gradient(62.93deg, rgba(0, 0, 0, 0.5) 9.86%, rgba(0, 0, 0, 0) 57.56%), url('../public/doctor-video.jpg');
  background-size: cover;
}

#options {
  padding: 0 25px;

  .options-item {
    margin-bottom: 75px;

    p { 
      margin-bottom: 25px;
      font-size: 17px;
      line-height: 30px;
    }
    .btn-base { background: black; }
  }
}

#options::after {
  content: "";
  display: block;
  height: 500px;
  width: 100vw;
  margin-left: -25px;
  margin-bottom: 50px;
  background-image: url('../public/bg_generic_2.jpeg');
  background-position-x: 100%;
  background-position-y: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

#social-media {
  height: 300px;
  background-image: url('../public/bg_social_media.jpeg');
  background-position-x: 50%;
  background-position-y: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 50px 25px;

  #social-media-content {
    height: 100%;
    width: 100%;
    text-align: center;
    background-color: rgba($color: black, $alpha: 0.8);
    color: white;
    padding: 40px;

    display: flex;
    flex-direction: column;
  }

  #social-media-links {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    
    img { 
      filter: invert(100%);
      width: 100%;
    }
  }
}

#footer-sticky {  
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;

  padding: 16px 20px;
  height: fit-content;
  background-color: black;

  a {
    font-size: 18px;
    color: white;
    text-decoration: none;
  }
}

footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: 10px 25px;
  font-size: 14px;
  line-height: 25px;

  margin-bottom: 48px;
}

#temp {
  height: 50px;
}