@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz@1,6..96&family=Montserrat:wght@200;300;400&display=swap');

// Custom font sizing
h1, h2 {
  font-family: 'Bondoni Moda', serif;
  font-style: italic;
  font-weight: 200;
}

h1 { font-size: 55px; }
h2 { font-size: 38px; } // Minus 2px 
p  { 
  font-size: 19px;
  margin: 0;
}

// Custom classes
.ph50 {
  padding-left: 25px;
  padding-right: 25px;
}

.pv100 {
  padding-top: 50px;
  padding-bottom: 100px;
}

.pv140 {
  padding-top: 70px;
  padding-bottom: 70px;
}

.pt100 { padding-top: 50px; }
.pt200 { padding-top: 100px; }

.mb50  { margin-bottom: 25px; }
.mb100 { margin-bottom: 50px; }
.mb150 { margin-bottom: 50px; }

.mw900 {
  max-width: 900px;
  margin: 0 auto;
  width: 100%;
}

.mw1200 {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
}

@media (min-width: 480px) {
  .mb150 { margin-bottom: 75px; }
}

@media (min-width: 960px) {
  h2 { font-size: 53px; } // Minus 2px 
  p { font-size: 24px; }

  .ph50 {
    padding-left: 50px;
    padding-right: 50px;
  }
  .pv100 { padding-top: 100px; }
  .pv140 {
    padding-top: 140px;
    padding-bottom: 140px;
  }
  .pt100 { padding-top: 100px; }
  .pt200 { padding-top: 200px; }
  .mb50  { margin-bottom: 50px; }
  .mb100 { margin-bottom: 100px; }
  .mb150 { margin-bottom: 150px; }
}

.btn-base {
  font-size: 18px;
  font-weight: inherit;
  border-radius: 0;
  padding: 13px 20px;
  background-color: #707073;
  transition: opacity 0.3s ease;

  img { transition: transform 0.3s ease; }
}
.btn-base:hover {
  opacity: 0.7;
  img { transform: translateX(30%); }
}

.arrow-right-white {
  filter: brightness(0) invert(1);
}

.arrow-right-black {
  filter: brightness(0) invert(0);
}

// Styling by sections
html, body {
  overflow-x: hidden;
}

#root {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}

@media (min-width: 960px) {
  #root { font-weight: 200; }
}

header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  padding: 25px;
  
  background-color: transparent;
  transition-property: background-color;
  transition-duration: 0.4s;
  transition-timing-function: ease;

  .navbar-social-media {
    img { filter: invert(100%); }
  }
  
  .navbar-brand {
    height: 80px;
    transition-property: height;
    transition-duration: 0.25s;
    filter: invert(100%);
  }

  .navbar-collapse {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    height: calc(100vh - 60px) !important;
    width: 90vw;
    z-index: 50;
    background-color: rgba($color: white, $alpha: 1.0);
    padding: 70px 40px;
    overflow-y: scroll;

    .menu {
      display: block;
      position: absolute;
      top: 25px;
      left: 40px;
      font-size: 17px;
      font-weight: 300;
    }

    .btn-close-container {
      position: absolute;
      top: 25px;
      right: 25px;

      .btn-close {
        font-size: 20px;
        opacity: 0.8;
      }
    }

    .nav-link { 
      font-size: 18px;
      font-weight: 300;
      color: black;
      z-index: 50;
      padding: 0;
      padding-bottom: 15px;
    }

    hr { margin: 0; margin-bottom: 15px; }
  }

  .navbar-collapse.collapsing {
      right: -90vw;
      transition: right 0.4s ease;
  }

  .navbar-collapse.show {
      right: 0px;
      transition: right 0.4s ease;
  }

  .navbar-toggler {
    padding: 0;
    border: 0;

    .navbar-toggler-icon { 
      filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(258deg) brightness(104%) contrast(101%);
    }
  }
  .navbar-toggler:focus { box-shadow: none; }

  .container-fluid { padding: 0; }
}

.menu-white-background {
  background-color: rgba($color: white, $alpha: 0.9);
  .navbar-social-media {
    img { filter: invert(20%); }
  }
  .navbar-brand { filter: invert(10%); }
}

.white-background {
  background-color: rgba($color: white, $alpha: 0.9);
  .navbar-social-media {
    img { filter: invert(20%); }
  }
  .navbar-brand { 
    height: 50px;
    filter: invert(10%);
  }
  .navbar-toggler .navbar-toggler-icon { filter: invert(0%); }
}

@media (min-width: 480px) {
  header {
    .navbar-collapse {
      width: 60vw;
    }
    .navbar-collapse.collapsing {
      right: -60vw;
      transition: right 0.4s ease;
    }
    .navbar-collapse.show {
        right: 0px;
        transition: right 0.4s ease;
    }
  }
}

@media (min-width: 960px) {
  header {
    .navbar-collapse {
      width: 40vw;

      .btn-close-container {
        top: 40px;
        right: 50px;
      }
    }
    .navbar-collapse.collapsing {
      right: -40vw;
      transition: right 0.4s ease;
    }
    .navbar-collapse.show {
        right: 0px;
        transition: right 0.4s ease;
    }
  }
}

@media (min-width: 992px) {
  header {
    .container-fluid {
      height: 80px; // simulate to content the navbar-brand
    }
    .navbar-brand {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(-50%, 0);
    }
    .navbar-collapse {
      height: 100vh !important;
    }
  }

  .white-background {
    .container-fluid {
      height: 50px; // simulate to content the navbar-brand
    }
  }
}

#hero {
  position: relative;
  height: calc(100vh - 60px);
  color: white;
  background-color: rgba($color: black, $alpha: 0.8);

    #hero-bg-slider {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      overflow: hidden;

      .bg-slide {
        position: absolute;
        height: 100%;
        width: 100%;
        object-fit: cover;
        
        opacity: 0;
        transition-property: opacity, transform;
        transition-duration: 1.5s, 7s;
        transition-timing-function: ease;
      }

      .bg-slide.active {
        opacity: 1;
        transform: scale(1.1);        
      }
    }

    #hero-title-slider {
      z-index: 1;

      .title-slide {
        position: absolute;
        opacity: 0;
        transition-property: opacity;
        transition-duration: 1.75s;
        transition-timing-function: ease;
      }

      .title-slide.active {
        opacity: 1;
      }
    }

    #hero-brands {
      position: absolute;
      bottom: 0;
  
      display: flex;
      justify-content: space-around;
  
      width: 100%;
      padding: 25px;
      
      .hero-brand {        
        width: auto;
        height: 40px;
      }
    }
  
}

#hero::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
}

@media (min-width: 480px) {
  #hero {
    #hero-brands{
      .hero-brand {     
        height: 60px;
      }
    }
  }
}

@media (min-width: 960px) {
  #hero::after {
    opacity: 0.3;
  }

  #hero {
    #hero-brands{
      .hero-brand {     
        height: 80px;
      }
    }
  }
}

@media (min-width: 992px) {
  #hero {
    height: 100vh;

    .hero-brand {     
      height: 50px;
    }
  }
}

#hero-bottom {
    color: white;
    padding: 25px 40px;    

    background: linear-gradient(180deg, #292929 0%, #020202 100%);
    background-size: cover;
  }

#concept {
  #concept-content {
    span {
      font-size: 18px;
      text-transform: uppercase;
    }  
    p { margin-bottom: 20px; }
  }  
}

#concept-after {
  display: block;
  height: 500px;
  width: 100vw;
  background-image: url('../public/bg_generic_1.jpg');
  background-position-x: 50%;
  background-position-y: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

#procedure {
  #procedure-text {
    span {
      font-size: 18px;
      text-transform: uppercase;
    }
  }

  #procedure-flexy {
    .flexy-item {
      position: relative;
      overflow: hidden;      
      box-sizing: border-box;
      box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.25);

      .flexy-item-bg {
        height: 400px;
        width: 100%;
        object-fit: cover;

        transform: scale(1);
        transition-property: transform;
        transition-duration: 0.4s;
      }

      .flexy-item-title {
        position: absolute;
        bottom: 0;
        width: 100%;
        text-align: center;
        margin-bottom: 25px;
        color: white;

        opacity: 1;
        transform: translateY(0);
        transition-property: transform, opacity;
        transition-duration: 0.4s, 0.4s;
      }

      .flexy-item-options {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;

        display: none;
        justify-content: center;
        align-items: center;
        text-align: center;

        background: rgba($color: black, $alpha: 0.5);

        li {
          color: white;
          font-size: 24px;
          padding: 5px 0;
        }
      }
    }

    .flexy-item.transition {
      .flexy-item-bg {
        transform: scale(1.1);
      }
      .flexy-item-title {
        opacity: 0;
        transform: translateY(80px);
      }
    }

    .flexy-item * { pointer-events: none; }
  }
}

#doctor {
  position: relative;
  color: white;
  background: linear-gradient(180deg, #292929 0%, #020202 100%);

  #doctor-img-logo {
    padding: 25px;
    padding-top: 0;
    margin-bottom: 30px;
    width: 50%;
    filter: invert(100%);
  }

  #doctor-img-doctor {
    padding-bottom: 30px;
  }

  p { padding-bottom: 35px; }

  #p-smaller { 
    font-size: 17px;
    line-height: 32px;
  }

  .doctor-brands {
    align-self: center;
    width: auto;
    height: 40px;
  }
}

@media (min-width: 480px) {
  #doctor {
    .doctor-brands {
      height: 70px;
    }
  }
}

@media (min-width: 992px) {
  #doctor {
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 67.79%, rgba(0, 0, 0, 0.6) 100%), url(../public/doctor_lg.jpeg);
    background-repeat: no-repeat;
    background-size: cover;

    .doctor-brands {
      height: 90px;
    }
  }
}

#testimonials {
  text-align: center;

  .carousel {
    p { font-size: 28px; }
    .carousel-control-prev,
    .carousel-control-next {
      position: relative;
    }
  }

  .row {
    display: flex;
    justify-content: center;
    margin-top: 50px;

    .col {
      display: flex;
      flex-direction: column;      
      padding: 12px 48px;

      img {
        align-self: center;
        margin: 15px;
      }

      .img1 {
        max-height: 22px;
        margin-bottom: 10px;
      }

      .img2 {
        max-height: 20px;
      }
    }
  }

  #testimonials-logos {
    margin-top: 50px;

    .testimonials-logos-item {
      padding: 12px 48px;
      width: fit-content;

      img { 
        margin: 15px;
        max-height: 20px;
      }
    }
  }  
}

@media (min-width: 960px) {
  #testimonials .row .col {
    .img1 { max-height: 30px; }
  }
}

#video {
  position: relative;
  height: auto;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  overflow: hidden;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;

  #video-content {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 25px;
    color: white;

    p { font-size: 28px; }
    * { align-self: center; }
  }
}

.modal-backdrop { opacity: 0.8 !important; }
.modal {   
  #video-modal {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    max-width: none;

    .modal-content {
      border: none;
      position: static;
      margin: 0 20px;
      background-color: transparent;
  
      #video-container {
        position: relative;
        padding-bottom: 56.25%;
        height: 0;
      
        iframe {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
        }
      }
  
      .btn-close {
        position: absolute;
        font-size: 15px;
        top: 25px;
        right: 25px;
        opacity: 1;
      }
    }  
  }  
}

#video::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;  
  z-index: -1;
  background: linear-gradient(62.93deg, rgba(0, 0, 0, 0.5) 9.86%, rgba(0, 0, 0, 0) 57.56%), url('../public/doctor-video.jpg');
  background-size: cover;
}

@media (min-width: 960px) {
  #video {
    height: 700px;
  }
}

#options-list {
  .options-item {
    margin-bottom: 75px;

    .options-item-description { 
      margin-bottom: 25px;
      font-size: 17px;
      line-height: 30px;
    }
    .btn-base { background: black; }
  }
}

#options-menu {
  #options-menu-display {
    .display-title { margin-bottom: 20px; }
    .display-description {
      margin-bottom: 40px;
      font-size: 17px;
      line-height: 30px;
    }
    .btn-base { background: black; }
  }
  
  #options-menu-items {
    padding: 50px 70px;

    .options-item {
      position: relative;      
      .options-item-info { display: none; }
      .options-item-title { 
        font-size: 20px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 200;
        font-style: normal;
        line-height: 35px;
        margin: 25px 0;
        cursor: pointer;
      }
    }
    
    .options-item::after {
      content: " ";
      position: absolute;
      top: 13px;
      left: -45px;
      height: 10px;
      width: 16px;
      background-image: url(../public/arrow-left.svg);
      transform: translateX(100%);
      opacity: 0;
      transition: opacity 0.4s ease;
    }
    .options-item.active::after {
      opacity: 1;
    }
  }
}

#options-after {
  display: block;
  height: 500px;
  width: 100vw;
  background-image: url('../public/bg_generic_2.jpg');
  background-position-x: 100%;
  background-position-y: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (min-width: 960px) {
  #options-after {
    height: 600px;
    margin-top: -100px;
  }
}

#social-media {
  height: 300px;
  background-image: url('../public/bg_social_media.jpg');
  background-position-x: 50%;
  background-position-y: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 50px 25px;

  #social-media-content {
    height: 100%;
    width: 100%;
    text-align: center;
    background-color: rgba($color: black, $alpha: 0.8);
    color: white;
    padding: 40px;

    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  #social-media-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10vw;
    
    img { 
      filter: invert(100%);
      height: 30px;
      width: auto;
    }
  }
}

@media (min-width: 480px) {
  #social-media {
    height: 500px;

    #social-media-links {
      img { height: 50px; }
    }
  }
}

@media (min-width: 960px) {
  #social-media {
    height: 600px;
    padding: 100px 50px;

    #social-media-links {
      img { height: 80px; }
    }
  }
}



#schedule {
  #schedule-text {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
  }

  #schedule-form {
    .col {
      margin-bottom: 10px;

      input, textarea, select, option {
        height: 50px;
        font-size: 15px;
        font-weight: 300;
        padding: 0 15px;
        color: rgba($color: black, $alpha: 0.7);

        border: 1px solid #E1E1E1;
        border-radius: 0;
        box-sizing: border-box;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.07);
      }

      input:focus, textarea:focus { box-shadow: none; }
      input::placeholder, textarea::placeholder { color: inherit; }

      textarea { 
        height: 120px;
        padding: 10px 15px;
      }

      select { padding-right: 35px; }
    }

    .form-check-input {
      height: 100%;
      padding: 10px;
      border-color: rgba($color: black, $alpha: 0.3);
      border-radius: 5px;
    }
    .form-check-input:focus { box-shadow: none; }

    .form-control.is-invalid,
    .form-select.is-invalid {
      border-color: rgba($color: red, $alpha: 0.7);
      background-color: rgb(248, 215, 218);
      background: none;
    }

    .btn-base {
      background-color: black;
      font-size: 16px;
    }
  }
}

#contact {
  background-image: url(../public/bg_contact.webp);
  background-size: cover;
  background-position-x: 50%;
  background-position-y: 100%;
  background-repeat: no-repeat;
  padding: 50px 25px;

  #contact-content {
    background-color: rgba($color: black, $alpha: 0.8);
    color: white;
    height: 100%;
    width: 100%;
    padding: 40px;

    #contact-logo {
      height: auto;
      width: 30%;
      filter: invert(100%);
    }
    
    .btn-base { 
      color: black;
      background-color: white;
    }

    p { font-size: 14px; }
  }
}

@media (min-width: 960px) {
  #contact {
    padding: 100px 50px;
    #contact-content {
      padding: 50px;

      #contact-logo {
        width: 50%;
      }
    }
  }
}

#footer-sticky {  
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;

  padding: 16px 20px;
  height: fit-content;
  background-color: black;

  a {
    font-size: 18px;
    color: white;
    text-decoration: none;
  }
}

#footer-statement {
  background-color: black;
  color: white;
  text-align: center;
  padding: 10px 25px;
  font-size: 14px;
  line-height: 25px;

  margin-bottom: 48px;
}

@media (min-width: 992px) {
  #footer-statement {
    margin-bottom: 0;
  }
}

footer {
  padding-top: 60px;
  padding-bottom: 80px;
  padding-left: 25px;
  padding-right: 25px;
  
  * { font-size: 14px; }
}